/* CSS Variables */
:root {
    --primary: #ddd;
    --dark: #3C4C59;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/* Main Element Styling */

html {
    box-sizing: border-box;
    /* If padding is used, doesn't effect the width of the element. */
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
    height: 100%;
}

body {
    background: #BACDD9;
    width: 90%;
    height: 100%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: block;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Navigation Styles */


.main-nav li {
    width: 100%;
    list-style-type: none;
}

.main-nav a {
    display: block;
    text-align: left;
}

.main-nav img {
    height: 35px;
}