/* CSS Variables */
:root {
    --primary: #ddd;
    --dark: #3C4C59;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/* Main Element Styling */

html {
    box-sizing: border-box;
    /* If padding is used, doesn't effect the width of the element. */
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
    height: 100%;
}

body {
    background: var(--dark);
    margin-top: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
}

.resume_body {
    height: 100%;
    width: 100%;
}

.btn {
    background-color: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.btn:hover {
    background-color: #E95420;
    color: #FFFFFF;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

footer {
    display: block;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: var(--dark);
}

/* Navigation Styles */

.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
    background: transparent;
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--primary);
    text-transform: uppercase;
    font-size: 1.1rem;
}

.main-nav a:hover {
    color: var(--light);
}

/* Top Container Styles */

.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'showcase';
    margin-top: auto;
    margin-bottom: auto;
    min-height: 750px;
}

/* Showcase */

.showcase {
    display: grid;
    color: var(--light);
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.showcase p {
    border-right: solid 3px rgba(0,255,0,.75);
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
    font-size: 35px;
    color: rgba(255,255,255,.70);
    margin: 0 auto;
}

.showcase p {
    animation: animated-text 5s steps(50,end) 1s 1 normal both,
                animated-cursor 600ms steps(50,end) infinite;
}

@keyframes animated-text {
    from{width: 0;}
    to{width: 100%}
}

@keyframes animated-cursor {
    from{border-right-color: rgba(0,255,0,.75);}
    to{border-right-color: transparent;}
}

.showcase h1 {
    font-size: 6rem;
    margin-bottom: 0;
    background: rgba(96, 115, 83, 0.85);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.showcase code {
    font-size: 1.25rem;
    background: rgba(96, 115, 83, 0.85);
    border-radius: 10px;
    padding: 5px 10px 10px 10px;
    font-weight: bold;
    margin-top: 0;
}

/* Top Box */

.top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: var(--shadow);
}

.top-box-a {
    grid-area: top-box-a;
    background-color: #F2EBDC;
}

.top-box-a p {
    margin-top: 0;
}

.top-box-b {
    grid-area: top-box-b;
    background-color: aqua;
}

.top-box-c {
    grid-area: top-box-c;
    background-color: aqua;
}

/* Small Nav-like Boxes */

.box-nav {
    display: grid;
    grid-gap: 0px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box-nav a {
    text-decoration: none;    
}

.small-box {
    background: transparent;
    text-align: center;
    align-items: center;
    padding: 1.5rem 2rem;
    position: relative;
    height: 50px;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 1 ease;
}

.small-box:hover .overlay {
    opacity: 1;    
}

.small-box:hover {
    transition: .2s ease-in;
}

.small-box img {
    max-height: 100%;
    max-width: 100%;
}

.small-box:hover img {
    opacity: 0;
    transition: .2s ease-out;
}

.text {
    font-size: 1.5rem;
    color: white;
    width: 100%;
}

.small-box:hover .text {
    transition: .2s ease-in;
    color: white;
}


/* Resume Page */

/* Media Queries */

@media(max-width: 700px) {
    .top-container {
        grid-template-areas:
            'showcase showcase'
            'top-box-a top-box-a'
    }

    .main-nav ul {
        grid-template-columns: 1fr;
    }

    .showcase h1 {
        font-size: 3rem;
    }

    .showcase code {
        font-size: 1rem;
    }
}